<!DOCTYPE html>
<html>
<head>
  <title>GA Office</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="title">
      GA Office
    </div>
  </header>
  <div class ="content">
    <%= yield %>
  <footer>
    <p>© Watahiki Masashi</p>
  </footer>

</body>
</html>
